---
BasedOnStyle: Google
AccessModifierOffset: -2
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: No
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks: Merge
IndentPPDirectives: AfterHash
NamespaceIndentation: All
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Attach
ColumnLimit: 100
IndentWidth: 4
AllowShortFunctionsOnASingleLine: None

IncludeCategories:
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2
    SortPriority: 2
    CaseSensitive: true
  - Regex: '^((<|")(gtest|gmock|isl|json)/)'
    Priority: 3
  - Regex: "<[[:alnum:].]+>"
    Priority: 4
  - Regex: ".*"
    Priority: 1
    SortPriority: 0
