---
BasedOnStyle: Google
AccessModifierOffset: -2
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: No
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
NamespaceIndentation: All
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Attach
ColumnLimit: 100